PROJECT_NAME="Delonix-Regia MLOps API"
ENVIRONMENT="development"
FRONTEND_URL="http://localhost:5173,http://127.0.0.1:5173"
# 1. Base de Datos
SQLALCHEMY_DATABASE_URL=postgresql+asyncpg://usuario:password@localhost:5432/<database_db>

# 2. Seguridad y JWT
# En producción, esto será una cadena aleatoria indescifrable de 64 caracteres.
SECRET_KEY=mi_super_clave_secreta_no_compartir
ALGORITHM=xxxxx
ACCESS_TOKEN_EXPIRE_MINUTES=1440 
# 1440 minutos = 24 horas. Suficiente para que Penélope trabaje un día entero sin que la app le pida loguearse de nuevo.